.n-register-bg {
    background-color: #F6FFF7;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-register-box {
    height: 50rem;
    width: 42rem;
    background-color: white;
    box-shadow: 0px 0px 16px rgb(179, 179, 179);
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-register-box2 {
    height: 49rem;
    width: 41rem;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
}

.n-register-logo-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.n-register-progress-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-register-progress-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-progress-circle_0 {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: #06AB78;
    border: 1px solid #06AB78;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    cursor: pointer;
    animation: n-prog-circle 0.6s ease-in-out 1;
    
}

@keyframes n-prog-circle {
    0% {
        background-color: transparent;
        border-color: #CAEEDE;
        transform: scale(1);
    }
    30% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        background-color: #06AB78;
        border-color: #06AB78;
        transform: scale(1);
    }
}

.n-progress-line_0 {
    height: 2px;
    width: 1.8rem;
    background-color: #06AB78;
}

.n-progress-line_1 {
    height: 2px;
    width: 1.8rem;
    background-color: #CAEEDE;
}

.n-progress-circle_1 {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: 1px solid #CAEEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #454b54;
    font-size: 10px;
    cursor: pointer;
}

.n-register-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    color: #454b54;
    font-size: 1.2rem;
    font-weight: 600;
}

.n-register-input-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.n-register-input-invalid {
    border: 1px solid #df7171;
    border-radius: 4px;
    height: 2.4rem;
    width: 94%;
    font-size: 0.8125rem;
    font-family: "Inter";
    color: #06AB78;
    padding-left: 1rem;
}

.n-register-input-invalid:focus {
    outline: 1px solid #e96d5c;
}

.n-register-input-invalid::placeholder {
    color: #BEE5D7;
}

.n-register-input {
    border: 1px solid #BEE5D7;
    border-radius: 4px;
    height: 2.4rem;
    width: 94%;
    font-size: 0.8125rem;
    font-family: "Inter";
    color: #06AB78;
    padding-left: 1rem;
}

.n-register-input::placeholder {
    color: #BEE5D7;
}

.n-register-input:focus {
    outline: 1px solid #06AB78;
}

.n-register-input-info {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    color: #454b54;
    font-weight: 600;
    font-size: 0.8125rem;
    margin-bottom: 0.4rem;
}

.input-error {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    color: #df7171;
    font-size: 0.8125rem;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
}

.n-register-btn {
    background-color: #06AB78;
    width: 100%;
    margin-top: 1.625rem;
    height: 2.625rem;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.n-register-btn:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #059773;
}

.n-register-btn:active {
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}

.logo-title {
    color: #06AB78;
    font-size: 1rem;
    padding-left: 0.3rem;
    cursor: pointer;
}

.n-register-code-box-invalid {
    height: 5rem;
    width: 5rem;
    border: 1px solid #e96d5c;
    border-radius: 0.8rem;
    margin: 0.24rem;
    box-shadow: 0px 2px 4px #db9492;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.n-register-code-box {
    height: 5rem;
    width: 5rem;
    border: 1px solid #5BCBA3;
    border-radius: 0.8rem;
    margin: 0.24rem;
    box-shadow: 0px 2px 4px #b1e4d2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.n-code-input {
    height: 98%;
    width: 100%;
    border-radius: 0.8rem;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    color: #06AB78;
    font-weight: 600;
    font-size: 2.6rem;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 32%;
    z-index: 100;
}

.n-go-back-btn {
    background-color: transparent;
    width: 25%;
    margin-top: 1.625rem;
    height: 2.625rem;
    border: 1px solid #5BCBA3;
    border-radius: 8px;
    color: #454b54;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    margin-right: 0.4rem;
}

.n-go-back-btn:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    background-color: #ececec;
    border-color: #454b54;
}

.n-go-back-btn:active {
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}

.n-verify-btn {
    background-color: #06AB78;
    width: 25%;
    margin-top: 1.625rem;
    height: 2.625rem;
    border: 1px solid #06AB78;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.n-verify-btn:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #059773;
}

.n-verify-btn:active {
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}

.n-avid-box {
    border: 1px solid #CAEEDE;
    border-radius: 0.4rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: 7.6rem;
    width: 9rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
}

.n-avid-box-active {
    border: 1px solid #06AB78;
    border-radius: 0.4rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: 7.6rem;
    width: 9rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    animation: n-avid 0.6s ease-in-out 1;
}

@keyframes n-avid {
    0% {
        background-color: transparent;
        border-color: #CAEEDE;
        transform: scale(1);
    }
    30% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        border-color: #06AB78;
        transform: scale(1);
    }
}

.n-confirm-btn-null {
    background-color: #06AB78;
    width: 50%;
    margin-top: 1.625rem;
    height: 2.625rem;
    border: 1px solid #06AB78;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: not-allowed;
    filter: grayscale(0.6);
}

.n-confirm-btn {
    background-color: #06AB78;
    width: 50%;
    margin-top: 1.625rem;
    height: 2.625rem;
    border: 1px solid #06AB78;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.n-confirm-btn:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #059773;
}

.n-confirm-btn:active {
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}
